{% extends "layout.html" %}
{% import 'utils.html' as utils %}

{% block title %}{{label}} @ {{config["dbname"]}}{% endblock %}

{% block body %}
<h1> {{label}}</h1>
is-a
<span id="typelist">
	{% for t in types %}
	{{utils.term(t)}}
	{% if t.realurl.__str__() == "http://www.w3.org/1999/02/22-rdf-syntax-ns#Property" %}
	( {{ utils.term(domain) }} &rArr; {{ utils.term(range) }} )
	{% endif %}
	{% if not loop.last %}, {% endif %}
	{% endfor %}
</span>

{% for c in comments %}
<div class='comment'>{{c|safe}}</div>
{% endfor %}

{% block special %}{% endblock %}
{% if outprops %}
<h2>Properties:</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>property</th>
        <th>value</th>
    </tr>
    </thead>
    {% for p,v in outprops %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{utils.term(p)}}</td>
        {% if v.url %}
        <td>{{utils.term(v, withclass=True)}}</td>
        {% else %}
        <td>"{{v.label}}"
            {% if v.lang %} <i>({{v.lang}})</i> {% endif %}
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if inprops %}
<h2>Incoming Properties:</h2>
<table class="table table-striped">
    <thead>
    <tr>
        <th>node</th>
        <th>property</th>
    </tr>
    </thead>
    {% for v,p in inprops %}
    <tr class="{{ loop.cycle('odd', 'even') }}">
        <td>{{ utils.term(v, withclass=True) }}</td>
        {% if p.url %}
        <td>{{ utils.term(p) }}</a></td>
        {% else %}
        <td>{{p.label}}</td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
